@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */

  --blue-100: hsl(225, 100%, 94%);
  --blue-700: hsl(245, 75%, 52%);

  /* Neutral */

  --blue-50: hsl(225, 100%, 98%);
  --gray-600: hsl(224, 23%, 55%);
  --blue-950: hsl(223, 47%, 23%);

  /* added colors  */
  --white: hsl(0, 0%, 100%);
  --blue-75: hsl(233, 80%, 98%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: url(./images/pattern-background-desktop.svg), var(--blue-100);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--white);
  width: clamp(300px, 90vw, 420px);
  border-radius: 20px;
  margin: 20px 0px;
}

.container .hero-img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

.main {
  padding: 15px 30px;
  text-align: center;
}

h2 {
  color: var(--blue-950);
  font-size: clamp(24px, 5vw, 28px);
  font-weight: 900;
  margin: 15px;
}

p {
  line-height: 1.6;
}

.description {
  color: var(--gray-600);
  font-weight: 500;
  font-size: clamp(15px, 4vw, 16px);
  padding: 0 30px;
  margin-bottom: 20px;
}

.plan {
  width: 95%;
  background: var(--blue-75);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.change {
  font-size: clamp(15px, 4vw, 16px);
  color: var(--blue-700);
  font-weight: 900;
}

.change:hover,
.change:active {
  opacity: 0.7;
  text-decoration: none;
}

.plan-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0px auto 0px 15px;
}

.plan-details h3 {
  color: var(--blue-950);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 900;
}

.plan-details p {
  color: var(--gray-600);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 500;
}

.payment-btn {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 95%;
  padding: 15px;
  background: var(--blue-700);
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: clamp(13px, 4vw, 14px);
  font-weight: 700;
  box-shadow: var(--blue-100) 0px 15px 8px;
  margin-bottom: 25px;
  transition: opacity 0.3s;
}

.payment-btn:hover {
  opacity: 0.7;
}

.cancel {
  color: var(--gray-600);
  text-decoration: none;
  font-size: clamp(13px, 4vw, 14px);
  font-weight: 900;
  margin-bottom: 20px;
}

.cancel:hover {
  color: var(--blue-950);
}
@media (max-width: 450px) {
  body {
    background: url(./images/pattern-background-mobile.svg), var(--blue-100);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
